nav{
    height: 50px;
    background-color: #3B7DEA;
    padding:1px;
    }

body {
    background-color: #8EB9FC;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: white;
    transition: color, 0.3s;
}

#about_Section{
    display: flex;
    justify-content: space-around;
    justify-content: row;
    align-content: space-around;
    align-items: center;
    font-size: 25px;
    margin-bottom: 10%;
   
}




#about_Text{
    padding: 5%;
    width: 50%;
    border: black solid 3px;
    background-color: white;
}



img{
    width: 20%;
    height: auto;
    margin-right: 5%;
}

#bottom_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_info{
    padding: 4%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    border: black solid 3px;
    margin-top: 18%;
    background-color: white;;

}

#purpose_text{
    justify-content: center;
    text-align: center;
    font-size: 22px;
    border: black solid 3px;
    background-color: white;
}

#purpose_text p{
    font-size: 22px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3B7DEA;
  text-align: center;
  padding: 0.4%;
}

#about_us_carousel{

    display: flex;
    flex-direction: center;
    justify-content:center;
    align-items: center;
    text-align: center;
    
    justify-content: space-between;
}

#person_Text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: black solid 3px;
    padding: 5%;
    background-color: white;
}

#person_Text h3{
    text-align: center;
}

#person_Text p{
    text-align: center;
}
